/* font-family: 'Open Sans', sans-serif;
font-family: 'Shadows Into Light', cursive; */

/* paleta de cores: https://www.color-hex.com/color-palette/101131 */

* {
  padding:0;
  margin:0;
  vertical-align:baseline;
  list-style:none;
  border:0
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  background-color: 	#d8d8d6;
}

header {
  background-color: #2f5d8c;
  padding: 20px;
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
}
header h1 {
  font-size: 5rem;
  color: #f9f9f9;
}

header p {
  font-size: 2rem;
  color: #f9f9f9;
}

nav {

  top: 0;
  background-color: #b56357;
}

nav ul {
  text-align: center;
  font-size: 1.2rem;
}
nav li{
  display: inline-block;
  padding: 10px;
}

nav li:hover {
  background-color: #2f5d8c;
}

nav li a {
  text-decoration: none;
  color: #f9f9f9;
}

article {
  max-width: 800px;
  margin: auto;
  background-color: #f9f9f9;
  padding: 3rem;
}

article h1 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

article h2 {
  font-size: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

article h3 {
  font-size: 1.3rem;
  padding-top: 2rem;
  padding-bottom: .5rem;
}

article p {
  padding-top: 1rem;
  text-align: justify;
}

article a {
  font-weight: bolder;
  text-decoration: none;
  color: #2f5d8c;
}

article blockquote{
  margin: 2rem;
  background-color: #d8d8d6;
  padding: 2rem;
}

article a:hover {
  text-decoration: underline;
}

article ol li {
  list-style: decimal;
  margin-left: 1rem;
}

article ul li {
  list-style: circle;
  margin-left: 1rem;

}

footer {
  padding-top: 1rem;
  padding-left: 2rem;
  padding-bottom: 1rem;
  background-color: #b56357;
  color: #f9f9f9;
  font-size: .6rem;
}

footer p {

}

table,  tr, td{
  border: 1px solid #d8d8d6;;
}

table {
  margin: 2rem;
}

tr, td {
  padding: 1rem;
}


#indice-rapido {
 position: -webkit-sticky; /* Safari */
 position: sticky;
 top: 0;
 background-color: #2f5d8c;
 color: #f9f9f9;
 max-width: 800px;
 margin: auto;
}

#indice-rapido ul {
  text-align: center;
}
#indice-rapido li {
  display: inline-block;
}

#indice-rapido li a:hover {
  background-color: #f9f9f9;
  color: #2f5d8c;

}

#indice-rapido li a {
  color:#f9f9f9;
  text-decoration: none;
  padding-left: 5rem;
  padding-right: 5rem;
}

#autoria {
  text-align: right;
  padding-bottom: 5rem;
}
